<header>
    <h1><a href="index.html">SismoFinder</a></h1>
    <p>A wrapper for locating Sismo project configuration.</p>
    <p class="view"><a href="https://github.com/havvg/SismoFinder">View the Project on GitHub <small>havvg/SismoFinder</small></a></p>
    <ul>
        <li><a href="https://github.com/havvg/SismoFinder/zipball/master">Download <strong>ZIP File</strong></a></li>
        <li><a href="https://github.com/havvg/SismoFinder/tarball/master">Download <strong>TAR Ball</strong></a></li>
        <li><a href="https://github.com/havvg/SismoFinder">View On <strong>GitHub</strong></a></li>
    </ul>
</header>
<nav><a href="installation.html">Installation</a><a href="configuration.html">Configuration</a><a href="usage.html">Usage Examples</a></nav>
